/* Swiper */
.swiper {
    height: 600px;
    width: 100%;
    position: relative;
}

.swiper-wrapper {
    height: 100%;
}

.swiper-slide {
    height: 100%;
    display: flex;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 45%;
}


/* Logo */
.logo {
    z-index: 2;
    position: absolute;
    inset: 0;
    pointer-events: none;
}
.logo-contenedor {
    padding: .5rem 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}
.logo-contenedor img {
    height: 4rem;
    width: 4rem;
}


/* Navegacion */
.nav {
    background-color: #00AADB;
}
.nav-contenedor {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.nav-link {
    padding: 1rem;
}
.nav-link:hover {
    background-color: #0087AB;
}
.nav-link a {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}


/* Texto Principal */
.contenedor-texto {
    margin-top: 5rem;
    font-size: .9rem;
}
.contenedor-texto p {
    padding: 0;
}

/* Login & Register*/
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;   
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.login-titulo {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: flex;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #22da65;
}


/* REGISTER */
.forgot-password {
    text-align: center;
    margin-top: 15px;
}

.forgot-password a {
    color: #1bb0a6;
    text-decoration: none;
}